In [1]:
import glob
import numpy as np
import pandas as pd

In [2]:
files = glob.glob("*.npy")

In [8]:
data = {}
for idx, i in enumerate(files):
    data[idx] = np.load(i, allow_pickle=True).item()

In [9]:
for key in data.keys():
    del data[key]['Best_action']

In [10]:
data = pd.DataFrame.from_dict(data)

In [11]:
data = data.transpose()

In [14]:
data = data[data["Total_evaluations"] > 25]

In [16]:
data = data.sort_values(by = "Minima")

In [18]:
data[:30].mean()

Minima               3070.281211
Total_evaluations      28.933333
dtype: float64

In [19]:
data[:30].std()

Minima               2063.03302
Total_evaluations       2.59885
dtype: float64

In [20]:
data[:30]["Minima"].mean()

3070.2812111330154

In [21]:
data[:30]["Minima"].std()

2063.0330199463588

In [22]:
data

          Minima  Total_evaluations
43    140.461999               32.0
30    249.589983               27.0
57    511.708008               29.0
9     591.278701               30.0
39    877.944735               26.0
61   1169.422338               26.0
75   1263.712436               34.0
47   1325.620911               27.0
81   1359.235016               29.0
82   1742.669302               30.0
88   2100.337326               26.0
22   2346.860108               28.0
32   2516.588127               26.0
12   2741.500163               30.0
73   2884.628035               32.0
55   2992.757870               26.0
80   3152.592365               36.0
64   3187.616124               27.0
31   3254.919354               29.0
42   3336.642980               30.0
60   3409.125201               33.0
63   3740.561264               28.0
25   4068.952438               27.0
15   5017.728731               31.0
19   5507.724168               28.0
41   5625.559228               28.0
5    6222.331822               31.0
66   6507.196428               28.0
13   6838.176561               26.0
71   7424.994612               28.0
16   7947.376102               33.0
50   8145.020088               31.0
4    8661.055587               29.0
7    8915.721908               31.0
18   9047.290087               32.0
45   9416.380277               33.0
49   9440.385342               26.0
36   9513.871421               34.0
67   9515.523216               28.0
35   9655.314933               31.0
21   9660.392924               35.0
77  10323.254563               28.0
86  10581.259694               29.0
0   11915.460540               28.0
58  12061.144964               33.0
84  22036.043370               27.0